@model IEnumerable<Pellio.Models.Products>


<link rel="stylesheet" href="~/css/products.css" />
<link rel="stylesheet" href="~/css/cookies.css" />

<div class="hide" id="cookieswindow">
    <p class="messsage">Използвайки нашият сайт вие се съгласявате с използването на бисквитки.</p>
    <a class="ok" id="cookiesagree" href="#">OK</a>
</div>

<div class="banner">
    <div class="bannertext">
        <h1 class="bannertitle">
            Pellio
        </h1>
        <p class="bannerdesc">Любимите ви храни на достъпни цени</p>
        <a class="bannerbutton" href="#items">Разгледай</a>
    </div>
</div>
<form asp-action="DeleteAll">
    <input type="submit" value="DeleteAll" class="btn btn-danger" />
</form>
<form asp-action="FillDB">
    <input type="submit" value="FillDB" class="btn btn-danger" />
</form>

<div id="items"></div>

<h3 class="title">Категории:</h3>
<form asp-controller="Products" asp-action="Index" class="categories">
    @foreach (var tag in ViewBag.TagsforDropdown)
    {
        <input type="submit" name="TagsDropdown" value="@tag" id="TagsDropdown" class="input" />
    }
</form>
<h2 class="title">Нашите горещи предложения</h2>

<div class="gridcontainer">
    @foreach (var item in Model)
    {
        @if (item.Ingredients != "dont show")
        {
            <div class="griditem">
                <div class="card">
                    <div class="bg">
                        <img class="image" src="@Html.DisplayFor(modelItem => item.ImageUrl)" />
                        <h3 class="productname">@Html.DisplayFor(modelItem => item.ProductName)</h3>
                        <p class="productdesc">
                            @Html.DisplayFor(modelItem => item.Ingredients)
                        </p>
                        <a asp-action="Order" asp-route-id="@item.Id" class="orderbtn">Поръчай</a>
                    </div>
                </div>
            </div>
        }
    }
</div>


<script src="~/js/cookies.js"></script>