@using Pellio.ViewModels
@model ProductComment

<link rel="stylesheet" href="~/css/productdetails.css" />

<div class="grid">
    <div class="productimage">
        <img class="image" src="@Model.Products.ImageUrl" alt="@Model.Products.ProductName" />
    </div>
    <div class="productdesc">
        <h1 class="title">
            @Model.Products.ProductName
        </h1>
        <p class="desc">
            @Model.Products.Ingredients
        </p>
        <p class="desc">
            Цена: @Model.Products.Price лв
        </p>
        <p class="desc">
            @ViewBag.avg_score
        </p>
        <div class="form">
            <form asp-action="AddToCart">
                <input class="input" type="submit" value="Добави в количката" asp-controller="OrdersLists" asp-action="AddToCart" asp-route-id="@Model.Products.Id" />
            </form>
            <form asp-action="GoToCart">
                <input class="input" type="submit" value="Поръчай" asp-controller="OrdersLists" asp-action="GoToCart" asp-route-id="@Model.Products.Id" />
            </form>
        </div>
    </div>
    <h2 class="commenttitle">
        Ревюта:
    </h2>
    <div class="commentsconteiner">
        @foreach (var com in Model.Products.Comments)
        {
            <div class="comment">
                <h3 class="title">
                    Име:
                </h3>
                <p class="text">
                    @com.Name
                </p>
                <h3 class="title">
                    Оценка:
                </h3>
                <p class="text">
                    @com.Score
                </p>
                <h3 class="title">
                    Ревю:
                </h3>
                <p class="text">
                    @com.Comment
                </p>
            </div>
        }
    </div>
    <form class="form" asp-action="AddComment">
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="comment">
            <label asp-for="@Model.Comments.Name" class="title">Име:</label>
            <input asp-for="@Model.Comments.Name" class="text" required/>
            <span asp-validation-for="@Model.Comments.Name" class=""></span>
        </div>
        <div class="comment">
            <label asp-for="@Model.Comments.Comment" class="title">Вашето мнение:</label>
            <input asp-for="@Model.Comments.Comment" class="text inputcomment" />
            <span asp-validation-for="@Model.Comments.Comment" class=""></span>
        </div>
        <div class="comment">
            <label asp-for="@Model.Comments.Score" class="title">Как бихте оценили храната от 1 до 5?</label>
            <select asp-for="@Model.Comments.Score" required>
                <option value="1" class="text">1</option>
                <option value="2" class="text">2</option>
                <option value="3" class="text">3</option>
                <option value="4" class="text">4</option>
                <option value="5" class="text">5</option>
            </select>
            <span asp-validation-for="@Model.Comments.Score" class=""></span>
        </div>
        <div class="pushtoend">
            <input class="addcbtn input" type="submit" value="Добави ревю" asp-action="AddComment" asp-route-id="@Model.Products.Id" />
        </div>
    </form>
</div>
