@model Pellio.Models.OrdersList

@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/tailwind.css" />
<link rel="stylesheet" href="~/css/products.css" />
<div>
    @{ decimal all_price = 0;}
    @foreach (var item in Model.Products)
    {
        <div class="flex flex-row content-center justify-center items-center rounded-full border-2 p-10">
            <div>
                <img class="h-48 w-48 flex-1 rounded-full border-2" src="@item.ImageUrl" alt="@item.ProductName" />
            </div>
            <div class="flex flex-row items-center ml-10">
                <div class="text-center flex-1">
                    @item.ProductName
                </div>
                <div class="text-center flex-1">
                    @item.Price
                    @{ all_price += item.Price;}
                </div>
            </div>
        </div>
    }
    <br />
    <div class="flex flex-row content-center justify-center items-center">
        <div>
            <h1 class="flex-1 mr-24">Total:</h1>
        </div>
        <div class="flex flex-row items-center ">
            <div class="text-center flex-1 hidden">
                @Model.Products.Count
            </div>
            <div class="text-center flex-1">
                @all_price
            </div>
        </div>
    </div>
</div>
