@model Pellio.ViewModels.OrderListMadeOrder

@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/cart.css" />

<div>
    @{ string messegformail = "Храните коуто поръчахте са: ";}
    <div class="grid">
        @foreach (var item in Model.OrdersList.Products)
        {
            messegformail = messegformail + item.ProductName + " (" + item.Price + "), ";
            <img class="image" src="@item.ImageUrl" alt="@item.ProductName" />
            <h2 class="name">
                @item.ProductName
            </h2>
            <form class="removeform">
                <input asp-controller="OrdersLists" asp-action="DeleteProduct" asp-route-id="@item.Id" type="submit" value="X" class="removebutton" />
            </form>
            <p class="price">
                @item.Price лв
            </p>
        }
        <p class="total">
            Total:
            <span>
                @Model.OrdersList.Total лв
            </span>
        </p>
        <form class="orderform" asp-controller="OrdersLists" asp-action="OrderingMainLogicFunc">
            <p>Моля въвете вашият адрес, телефон, име и E-Mail, за да можем да изпълним вашата поръчка.</p>
            <div class="flex">
                <label class="label" for="name">Име:</label>
                <input class="input" type="text" name="name" id="name" required />
                <label class="label" for="address">Адрес:</label>
                <input class="input" type="text" name="address" id="address" required />
                <label class="label" for="rec">E-Mail:</label>
                <input class="input" type="email" name="rec" id="rec" required />
                <label class="label" for="phone">Телефонен номер:</label>
                <input class="input" type="tel" name="phone" id="phone" pattern="[0-9]{10}" required />
                <input class="hide" type="text" name="mes" id="mes" value="@messegformail" />
                <input class="input" type="submit" value="Поръчаи" />
            </div>
        </form>
    </div>

    <div>
        @if(!Model.MadeOrder.Any())@*no items*@
        {
            <p>Хммммм... Изглжда че до сега не сте направили поръчки</p>
        }
        else
        {
            foreach(var madeorder in Model.MadeOrder)
            {
                <p>@madeorder.TimeOfOrder</p>
                <p>@madeorder.Products_names</p>
                <p>@madeorder.FinalPrice</p>
            }
        }
    </div>
</div>

<script src="~/js/formvalidation.js"></script>