@model Pellio.ViewModels.OrderListMadeOrder

@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/cart.css" />

<div>
    @{ string messegformail = "Храните които поръчахте са: ";}
    <div class="grid">
        @foreach (var item in Model.OrdersList.Products)
        {
            messegformail = messegformail + "- " + item.ProductName + " (" + item.Price + ")\n";
            <img class="image" src="@item.ImageUrl" alt="@item.ProductName" />
            <h2 class="name">
                @item.ProductName
            </h2>
            <form class="removeform">
                <input asp-controller="OrdersLists" asp-action="DeleteProduct" asp-route-id="@item.Id" type="submit" value="X" class="removebutton" />
            </form>
            <p class="price">
                @item.Price лв
            </p>
        }
        @{ if (Model.OrdersList.PercentOffCode.Code == "todd")
            {
                @*otherwise it says you are using a 0% off code*@
                @*scuffed check if you can use should keep Available for checks?*@
                @*also for some reason 0.00, 0.00m, 0.00M are not true in if ??????*@
                messegformail += $"\n Вие използвахте кода {Model.OrdersList.PercentOffCode.Code}!";
                decimal offprice = Model.OrdersList.Total - (Model.OrdersList.Total * (Model.OrdersList.PercentOffCode.Percentage / 100));
                messegformail += $"\n Цената ви се обновява {Model.OrdersList.Total} - {Model.OrdersList.PercentOffCode.Percentage}% = {offprice}";
            }

        }@*there is a better way but this is how it's gonna be for now at least*@
        <p class="total">
            Total:
            <span>
                @Model.OrdersList.Total лв
            </span>
        </p>
        <form class="orderform" asp-controller="OrdersLists" asp-action="OrderingMainLogicFunc">
            <p>Моля въвете вашият адрес, телефон, име и E-Mail, за да можем да изпълним вашата поръчка.</p>
            <div class="flex">
                <label class="label" for="name">Име:</label>
                <input class="input" type="text" name="name" id="name" required />
                <label class="label" for="address">Адрес:</label>
                @if (TempData["re_addres"] != null)//checks if there is data
                {
                    <input class="input" type="text" name="address" id="address" value="@TempData["re_addres"]" required />
                }//if not add empty input
                else
                {
                    <input class="input" type="text" name="address" id="address" onfocus="getLoc()" required />
                }
                <label class="label" for="rec">E-Mail:</label>
                <input class="input" type="email" name="rec" id="rec" required />
                <label class="label" for="phone">Телефонен номер:</label>
                <input class="input" type="tel" name="phone" id="phone" pattern="[0-9]{10}" required />
                <input class="hide" type="text" name="mes" id="mes" value="@messegformail" />
                <label class="label" for="code">Код:</label>
                <input class="input" type="text" name="code" id="code" />
                <input class="input" type="submit" value="Поръчай" />
                <div id="openwindow" class="prvspurchasesbtn">Последни поръчки</div>
            </div>
        </form>
        <form id="idk" class="idk" asp-controller="OrdersLists" asp-action="GeoLock">
            <input class="hide" type="text" name="lat" id="lat"/>
            <input class="hide" type="text" name="lon" id="lon"/>
            @*<input class="loc_input" type="submit" value="Намери" />*@
            <p>@ViewData["re_addres"]</p>
        </form>
    </div>

    <div id="closewindow" class="hide">
        <div id="window" class="window">
            @if (!Model.MadeOrder.Any())@*no items*@
            {
                <p>Изглжда че до сега не сте правили поръчки</p>
            }
            else
            {
                foreach (var madeorder in Model.MadeOrder.Skip(Math.Max(0, Model.MadeOrder.Count() - 3)))
                {
                    <p class="bold">@madeorder.TimeOfOrder</p>
                    <p>@madeorder.Products_names</p>
                    <p>@madeorder.FinalPrice</p>
                }
            }
        </div>
    </div>
    <div id="status"></div>
</div>



<script defer src="~/js/formvalidation.js"></script>
<script defer src="~/js/previousorders.js"></script>
