@model Pellio.Models.OrdersList

@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/cart.css" />
<div>
    @{ Model.Total = 0;}
    @{ string messegformail = "Храните коуто поръчахте са: ";}
    <div class="grid">
        @foreach (var item in Model.Products)
        {
            messegformail = messegformail + item.ProductName + " (" + item.Price + "), ";
            <img class="image" src="@item.ImageUrl" alt="@item.ProductName" />
            <h2 class="name">
                @item.ProductName
            </h2>
            <form class="removeform">
                <input asp-controller="OrdersLists" asp-action="DeleteProduct" asp-route-id="@item.Id" type="submit" value="X" class="removebutton" />
            </form>
            <p class="price">
                @item.Price лв
                @{ Model.Total += item.Price;}
            </p>
        }
        <p class="total">
            Total:
            @Model.Total лв
        </p>
        <form class="orderform" asp-controller="OrdersLists" asp-action="SendMail">
            <p>Please provide us with your e-mail to let you know when the delivery will occur.</p>
            <label class="label" for="rec"> e-mail:</label>
            <input class="input" type="text" name="rec" id="rec" />
            <label class="label" for="rec"> e-mail:</label>
            <input class="input" type="text" name="rec" id="rec" />
            <label class="label" for="rec"> e-mail:</label>
            <input class="input" type="text" name="rec" id="rec" />
            <input class="hide" type="text" name="mes" id="mes" value="@messegformail" />
            <input class="input" type="submit" value="SendMail" />
        </form>
    </div>
</div>
