@model Pellio.Models.OrdersList

@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/cart.css" />
<div>
    @{ Model.Total = 0;}
    @{ string messegformail = "Храните коуто поръчахте са: ";}
    <div class="grid">
        @foreach (var item in Model.Products)
        {
            <img class="image" src="@item.ImageUrl" alt="@item.ProductName" />
            <h2 class="name">
                @item.ProductName
            </h2>
            <p class="price">
                @item.Price лв
                @{ Model.Total += item.Price;}
            </p>
        }
    </div>
    <div class="">
        <div>
            <h1 class="">Total:</h1>
        </div>
        <div class="">
            <div class="">
                @Model.Products.Count
            </div>
            <div class="">
                @Model.Total
            </div>
        </div>
    </div>
    <div>
        <form asp-controller="OrdersLists" asp-action="SendMail">
            <p>Please provide us with your e-mail to let you know when the delivery will occur.</p>
            <div class="">
                <label for="rec"> e-mail:</label>
                <input type="text" name="rec" id="rec" />
            </div>
            <input class="" type="text" name="mes" id="mes" value="@messegformail" />
            <input type="submit" value="SendMail" />
        </form>
    </div>
</div>
