@using Pellio.ViewModels
@model ProductDetails

    <div>
        Product name: @Model.Products.ProductName
    </div>
<div>
    Ingredients: @Model.Products.Ingredients
</div>
<div>
    Price: @Model.Products.Price лв;
</div>
<div>
    <form>
        <button name="btn1" value="@Model.Products.Id" asp-action="Addptocart" >поръчаи</button>
    </form>
    <div>
        

    </div>
    
    </div>

@*<script>
    localStorage.setItem("id", @Model.Products.Id);
</script>*@


<div class="commentsection">
    <h2 class="commenttitle">
        Comments:
    </h2>
    @foreach (var com in Model.Products.Comments)
    {
        <div class="commentconteiner">
            <h3 class="title">
                Username:
            </h3> 
            <p class="text">
                @com.Name
            </p>
            <h3 class="title">
                Review:
            </h3>
            <p class="text">
                @com.Comment
            </p>
        </div>
    }

    <form class="" asp-action="AddComment">
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="commentconteiner">
            <label asp-for="@Model.Comments.Name" class="title"></label>
            <input asp-for="@Model.Comments.Name" class="text" />
            <span asp-validation-for="@Model.Comments.Name" class=""></span>
        </div>
        <div class="commentconteiner">
            <label asp-for="@Model.Comments.Comment" class="title"></label>
            <input asp-for="@Model.Comments.Comment" class="text inputcomment" />
            <span asp-validation-for="@Model.Comments.Comment" class=""></span>
        </div>
        <div class="">
            <input class="" type="submit" value="Create" asp-action="AddComment" asp-route-id="@Model.Products.Id" />
        </div>
    </form>
</div>