@using Pellio.ViewModels
@model ProductDetails

<form asp-action="Addptocart">
    <div>
        Product name:
        <label asp-for="@Model.Products.ProductName" class="title"></label>
    </div>
    <div>
        Ingredients:
        <label asp-for="@Model.Products.Ingredients" class="title"></label>
    </div>
    <div>
        Price:
        <label asp-for="@Model.Products.Price" class="title"></label>
    </div>
    <div>
        <input class="" type="submit" value="Create" asp-action="Addptocart" asp-route-id="@Model.Products.Id" />
    </div>
</form>


<div class="commentsection">
    <h2 class="commenttitle">
        Comments:
    </h2>
    @foreach (var com in Model.Products.Comments)
    {
        <div class="commentconteiner">
            <h3 class="title">
                Username:
            </h3>
            <p class="text">
                @com.Name
            </p>
            <h3 class="title">
                Review:
            </h3>
            <p class="text">
                @com.Comment
            </p>
        </div>
    }

    <form class="" asp-action="AddComment">
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="commentconteiner">
            <label asp-for="@Model.Comments.Name" class="title"></label>
            <input asp-for="@Model.Comments.Name" class="text" />
            <span asp-validation-for="@Model.Comments.Name" class=""></span>
        </div>
        <div class="commentconteiner">
            <label asp-for="@Model.Comments.Comment" class="title"></label>
            <input asp-for="@Model.Comments.Comment" class="text inputcomment" />
            <span asp-validation-for="@Model.Comments.Comment" class=""></span>
        </div>
        <div class="">
            <input class="" type="submit" value="Create" asp-action="AddComment" asp-route-id="@Model.Products.Id" />
        </div>
    </form>
</div>